h1 {
	text-align: center;
}

.bingo-container {
	max-width: 500px;
	background-color: #2d2f94;
}

.number-container {
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;
}

.header{
	width: 100%;
}

.number{
	flex-grow: 1;
	width: 20%;
	margin-bottom: 15px;
	color: white;
	cursor: pointer;
	font-size: 1.5em;

}